@model List<Message2>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Kutusu</h4>
                <p class="card-description" style="float:right">
                    <a href="/Message/SendMessage" class="btn btn-success">Yeni Mesaj Oluştur</a>
                </p>
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Konu </th>
                                <th> Gönderen </th>
                                <th> Tarih </th>
                                <th> Detaylar </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.MessageID</th>
                                    <td><label class="badge badge-info">@item.Subject</label></td>
                                    <td>@item.SenderUser.WriterName</td>
                                    <td> @item.MessageDate.ToString("dd MMMM yyyy") </td>
                                    <td> <a href="/Message/InBoxDetails/@item.MessageID" class="btn btn-dark">Detaylar</a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

