<div class="dropdown profile-element">
    <img alt="image" class="rounded-circle" src="/WriterImageFiles/@ViewBag.userImage" width="48px;" height="48px;" />
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="block m-t-xs font-bold">@ViewBag.nameSurname</span>
        <span class="text-muted text-xs block">@ViewBag.userMail</span>
    </a>
</div>
